<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2019 Leo Maroni, Caspar Armster | Lizensiert unter
            <a href="https://www.gnu.org/licenses/gpl-3.0">GNU GPLv3</a> | Ver&ouml;ffentlicht auf
            <a href="https://github.com/OpenDataMap/opendatamap.net">GitHub</a>

            <a class="grey-text text-lighten-4 right" href="privacypolicy.html">Datenschutzerkl&auml;rung</a>
            <a class="grey-text text-lighten-4 right" href="impress.html">Impressum</a>
        </div>
    </div>
</footer>