#section-1-hello {
  display: table;
  width: 100%;
  height: 100vh;
  background-color: #157384;
  .parallax-container {
    width: 100%;
    height: 100%;
  }
  &:before {
    background-size: 100% auto !important;
    background: url("/assets/images/background.png") no-repeat fixed center;
    background-size: cover;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .title-wrapper {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    z-index: 10;
    position: relative;
    .title {
      color: #ffffff;
      font-size: 4.5rem;
      line-height: 110%;
      font-weight: 300;
    }
    .subtitle {
      font-size: 4.5rem;
      line-height: 110%;
      font-weight: 300;
      color: #000000;
    }
  }
}