#section-2-basic-information {
  p.information-text, .collapsible-header, .collapsible-body, p.logo-oklab-description {
    font-size: 1.28rem;
  }
  img.logo-oklab {
    width: 12rem;
    margin-top: 50px;
  }
}