<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }} {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.labcode.de/libs/materialize/1.0.0/css/materialize.min.css"
          integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous"/>

    <!-- WebP test - by https://github.com/djpogo/webp-inline-support - MIT Licence -->
    <script>!function(e){"use strict";var A,a;A=function(A){if(A){var a=e.documentElement;a.classList?a.classList.add("webp"):a.className+=" webp"}},(a=new Image).onload=a.onerror=function(){A(2===a.height)},a.src="data:image/webp;base64,UklGRi4AAABXRUJQVlA4TCEAAAAvAUAAEB8wAiMwAgSSNtse/cXjxyCCmrYNWPwmHRH9jwMA"}(document);</script>

    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="https://cdn.labcode.de/fonts/assistant/assistant.css"
          integrity="sha256-uCCi7zCyWOg1njVfZ/JlFTU0dG/9I95rHzn/UQawXdk=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.labcode.de/fonts/fontawesome/5.3.1/css/all.min.css"
          integrity="sha256-YE3PHxFphlX3UEa7kvmKqpR34cFrAcX8QV54eUOT/7k=" crossorigin="anonymous"/>
</head>
<body>
<main>
    {{ content }}
</main>
{% include footer.html %}
<script src="https://cdn.labcode.de/libs/materialize/1.0.0/js/materialize.min.js"
        integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
</body>
</html>